@import 'variables/margins';
@import 'variables/pagebackground';

.header {
	font-family: 'Open Sans', Georgia, sans-serif;
	background-color: rgba(255, 255, 255, 0.6);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	margin-right: 50%;
	text-align: center;
}

