div {
	background-color: gray;
	height: 100px;
	width: 100%;
	border: 2px solid black;
	border-radius: 10px;
}
html {
	background-color: #aeeae8;
}
p {
	margin-right: 70%;
	font-family: Arial;
}
h1 {
	font-family: Arial;
}
div > p {
	color: white; /* i have no idea if this is right lol */
	margin-left: 20px;
}
#catButtonButton {
	background-color: white;
	height: 200px;
	width: 200px;
	text-align: right;
	margin-right: 20%;
}
#catButton {
	color: black;
	font-family: Arial;
	font-size: 15px;
	text-decoration: none;
}
.separator {
	height: 10px;
	background-color: #aeeae8; /* probably a better way of making it transparent but idek */
	border: 0px solid #aeeae8;
}
#steam {
	width: 40px;
	height: 40px;
}
/* used to test the link html {
	background-color: red;
}*/