div {
	background-color: gray;
	height: 100px;
	width: 100%;
	border: 2px solid black;
}
html {
	background-color: #aeeae8;
}
p {
	margin-right: 200px;
	font-family: Arial;
}
h1 {
	font-family: Arial;
}
div > p {
	color: white; /* i have no idea if this is right lol */
}
/* used to test the link html {
	background-color: red;
}*/